@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao meu sistema de Cadastro de Funcinários</h1>

    <h5 style="text-align:center; word-wrap:break-word;">Eu tentei criar um sistema simples para cadastrar diversos funcionairos, editar suas informações, e excluir elas também se necessário.
        Espero que gostem, esta foi minha primeira vez usando MVC.NET e Razor.
    </h5>

</div>>
